.honeymoon-static-banner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.honeymoon-static-banner-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 20px 0;
}
