

.guidelines-wrapper {
  /* max-width: 1100px; */
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #f5f5f5; */
  padding: 50px 15%;
}

.guidelines-heading {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.guidelines-heading::before {
  content: '';
  width: 4px;
  height: 32px;
  background-color: #f7c600;
  border-radius: 10px;
  display: inline-block;
}

.guidelines-heading h3 {
  font-size: 26px;
  font-weight: 700;
  color: #004e60;
  margin: 0;
}

.guidelines-content {
  background-color: #ffffff;
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  line-height: 1.8;
  color: #333;
  font-size: 16px;
}

@media (max-width: 768px) {
  .guidelines-heading h3 {
    font-size: 22px;
  }

  .guidelines-content {
    font-size: 15px;
    padding: 20px;
  }
}
